.flexDivTypo1{
    font-weight: 700;
    font-size: 14px;
   color: #0d0e0d;
}

.cardDiv:hover{

    box-shadow:2px 2px 18px 1px #bdbec1, 0px 1px 1px 0px #c2c4c7, 0px 1px 3px 0px #f0f5f9 !important;
    
}
.insideCardDiv{
    padding:10px;
    cursor:pointer;
}
.flexDiv{
    flex-direction:row;
     display:flex;
}
.typo1Div{
    flex: 1;
    align-self:center;
    margin-left:7px;
   
}
.typo2Div{
    align-self: center;
    text-align: right;
}
.h5{
    align-self:center; 

}




